body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    background-color: rgb(0, 255, 8);
    margin-left:2.5%;
    margin-right:2.5%;
}

h1, h2 {
    text-align:center;
}

h3 {
    line-height:2;
}

.navbar {
    font-family:Arial, Helvetica, sans-serif;
    size:8px;
}

.navbar a {
    color: black;
    gap: 200px;
}